accelerate
codetiming
datasets
deepspeed
dill
dm-tree
gdown
google-cloud-aiplatform
hydra-core
latex2sympy2
numpy
pandas
pybind11
pylatexenc
pytest
ray
sentence_transformers
sglang[all]
sglang-router
tensordict
swebench
torchmetrics
transformers
vertexai
vllm
wandb
flash-attn
