{% if not add_generation_prompt is defined %}
    {% set add_generation_prompt = false %}
{% endif %}

{% set ns = namespace(is_first=false, is_tool=false, is_output_first=true, system_prompt='') %}

{% if add_generation_prompt %}
{{ bos_token }}
{%- if tools %}
You are a reasoning models that generates long thoughts before answering a question, and use tools to verify your results while you are thinking.
The following tools are available when needed for specific tasks:
<tools>
{%-  for tool in tools  %}
    {{-  tool | tojson }}
{%-  endfor  %}
</tools>
When using a tool, format it in the following format:
```json
{"name": "function_name", "arguments": {"param1": "value1"}}
```

The tool response will be returned in the following format:
<tool_response>Response from the tool call</tool_resoponse>

If the tool response contains no output or an error, then realize that you have not properly used the tool and try again using proper formatting.
{%- endif %}
{% endif %}


{%- for message in messages %}
    {%- if message['role'] == 'user' %}
        {%- set ns.is_tool = false -%}
        {{- '<｜User｜>' + message['content'] -}}
    {%- endif %}

    {%- if message['role'] == 'assistant' and 'function_call' in message and message['function_call'] is not none %}
        {{- '\n' + '```json' + '\n' + '{"name": "' + message['function_call']['name'] + 
            '", "arguments": ' + message['function_call']['arguments'] + 
            '}' + '\n' + '```' + '<｜end▁of▁sentence｜>' -}}
    {%- endif %}

    {%- if message['role'] == 'assistant' and message['content'] != '' and message['content'] is not none %}
        {{- '<｜Assistant｜>' + message['content']-}}
    {%- endif %}

    {%- if message['role'] == 'tool' or message['role'] == 'function' %}
        {%- set ns.is_tool = true -%}
        {{- '\n<tool_response>' + message['content'] + '</tool_response><｜end▁of▁sentence｜>' }}
    {%- endif %}
{%- endfor -%}
