{%- if not add_generation_prompt is defined -%}
    {%- set add_generation_prompt = false -%}
{%- endif -%}

{%- set ns = namespace(is_first=false, is_tool=false, is_output_first=true, system_prompt='') -%}

{%- if add_generation_prompt -%}
    {{- bos_token -}}
{%- endif -%}

{%- for message in messages -%}
    {%- if message['role'] == 'user' -%}
        {%- set ns.is_tool = false -%}
        {{- '<｜User｜>' + message['content'] -}}
    {%- endif -%}

    {%- if message['role'] == 'assistant' and 'function_call' in message and message['function_call'] is not none -%}
        {{- '\n' + '```python' + '\n' + message['function_call']['code'] + '\n' + '```' + '\n\n' -}}
    {%- endif -%}

    {%- if message['role'] == 'assistant' and message['content'] != '' and message['content'] is not none -%}
        {%- if 'skip_assistant_token' in message and message['skip_assistant_token'] == true -%}
            {{- message['content'] -}}
        {%- else -%}
            {{- '<｜Assistant｜>' + message['content'] -}}
        {%- endif -%}
    {%- endif -%}

    {%- if message['role'] == 'tool' or message['role'] == 'function' -%}
        {%- set ns.is_tool = true -%}
        {{- '\n' + '```output' + '\n' + message['content'] + '\n' + '```' + '\n' -}}
    {%- endif -%}
{%- endfor -%}

{%- if add_generation_prompt -%}
    {{- '<｜Assistant｜><think>\n' -}}
{%- endif -%}